resources:
- provider.yaml
- service-account.yaml
- deploymentruntime.yaml
- cloudwatch.yaml
- ec2.yaml
- iam.yaml
- kms.yaml
- polex.yaml
- ram.yaml
- s3.yaml
- sqs.yaml
- cloudfront.yaml
- acm.yaml
- route53.yaml
- efs.yaml
