name: Validate manifests
on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: List kustomizations
        uses: docker://gsoci.azurecr.io/giantswarm/yamllint:1.37.1
        with:
          args: --list-files management-clusters

      - name: Lint kustomizations
        uses: docker://gsoci.azurecr.io/giantswarm/yamllint:1.37.1
        with:
          args: --format=github management-clusters

      - name: "Build manifest in 'output/'"
        run: |
          ls management-clusters/ | xargs -n1 -I '{}' make build-{}

      - name: Check if output directory has files
        id: check_output
        run: |
          if [ -d "output" ] && [ "$(find output -type f | wc -l)" -gt 0 ]; then
            echo "has_files=true" >> $GITHUB_OUTPUT
          else
            echo "has_files=false" >> $GITHUB_OUTPUT
          fi

      - name: List generated manifests
        if: steps.check_output.outputs.has_files == 'true'
        uses: docker://gsoci.azurecr.io/giantswarm/yamllint:1.37.1
        with:
          args: --list-files output

      - name: Lint generated manifests
        if: steps.check_output.outputs.has_files == 'true'
        uses: docker://gsoci.azurecr.io/giantswarm/yamllint:1.37.1
        with:
          args: --format=github output
