name: Report expired silences

on:
  schedule:
    # Everyday at 09:00
    - cron:  '0 9 * * *'
  workflow_dispatch:

jobs:
  silences_report_expired:
    runs-on: ubuntu-latest
    name: Report expired silences
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.github/actions/silences-report-expired
        with:
          directory_pattern: 'bases/silences'
