name: Validate silences

on:
  pull_request:
    paths:
      - '**.yaml'

jobs:
  silences_validate:
    runs-on: ubuntu-latest
    name: Validate silences
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # Fetch all history so silences-validate.sh can find changed files.
          fetch-depth: 0
      - uses: ./.github/actions/silences-validate
        with:
          directory_pattern: 'bases/silences'
