name: Validate silences

on:
  pull_request:
    paths:
      - '**.yaml'

jobs:
  silences_validate:
    runs-on: ubuntu-latest
    name: Validate silences
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          # Fetch all history so silences-validate.sh can find changed files.
          fetch-depth: 0
      - uses: ./.github/actions/silences-validate
        with:
          directory_pattern: 'bases/silences'
