name: Report expired silences

on:
  schedule:
    # Everyday at 09:00
    - cron:  '0 9 * * *'
  workflow_dispatch:

jobs:
  silences_report_expired:
    runs-on: ubuntu-latest
    name: Report expired silences
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/silences-report-expired
        with:
          directory_pattern: 'bases/silences'
